/* font-family: 'Inter', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto Slab', serif; */

/* #B8C4CC smokeygrey
#4D6A80 midnightblue
#E6F4FF light blue background
#99D5FF baby  blue
#BCC9D2 smokeygrey less */

.photo-cont {
  
  text-align: center;
  place-items: center;
  padding-bottom: 30px;
}

.my-img {
  margin-top: 2rem;
  border-radius: 50%;
  border: 2px solid;
}

.backgroung {
  background-color: #E6F4FF;

}

.description {
  font-family: 'Inter', sans-serif;
  color: #4D6A80;
  font-size: 2.5rem; 
text-shadow: 0px 5px 0px #99D5FF;
margin: 5px auto;
}

.me{
  font-family: 'Pacifico', cursive;
  font-size: 39px;
  color:#99D5FF ;
  text-shadow: 0px 2px 0px #4D6A80;
  margin-top: 0;
}

.opening-div{
  background-color: #a9becd;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid #BCC9D2;
  
}

.my-text{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  margin: 30px;
  font-weight: 500;
  color: #354a59;
}

.about-me-btn {
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: bolder;
  color: #99D5FF;
  background-color: #a9becd;
  padding: 25px 10px;
  border-radius: 10px;
  text-shadow: 0px 2px 3px #666666;
  border: 0;
  cursor: pointer;
  width: 300px;
}
.opening-div:hover {
  box-shadow: 11px 7px 28px 4px rgba(66,66,66,0.82);
}